In [1]:
import os
import matplotlib.pyplot as plt
import re
import numpy as np
from scipy import stats
#import optshrink as opt # package we create
import numpy as np
# import scipy.io as sio
import h5py
import matplotlib.pyplot as plt 
import pandas as pd
import xarray as xr
import cartopy.crs as ccrs
import seaborn as sns
from shapely.geometry import Point
import geopandas as gp
from geodatasets import get_path
from shapely.geometry import Polygon

In [2]:
output_col_names = ['lon'
,'lat'
,'variable'
,'cohort_number'
,'stand_age'
,'potential_veg'
,'current_veg'
,'community_type'
,'subtype'
,'silt_clay'  ###check this order
,'lc_state'
,'land_area'
,'cohort_area'
,'year'
,'annual_sum'
,'monthly_maximum'
,'monthly_mean'
,'monthly_minimum'
,'Jan'
,'Feb'
,'Mar'
,'Apr'
,'May'
,'Jun'
,'Jul'
,'Aug'
,'Sep'
,'Oct'
,'Nov'
,'Dec'
,'region']

In [9]:
grid_group = '195'

availn_canesm5=pd.read_csv('/group/moniergrp/TEM_Large_Ensemble/run_support_files/large_ensemble/region_1/pre_data/CanESM5/var_out/AVAILN.csv'+grid_group
                           , names = output_col_names)
vegc_canesm5=pd.read_csv('/group/moniergrp/TEM_Large_Ensemble/run_support_files/large_ensemble/region_1/pre_data/CanESM5/var_out/VEGC.csv'+grid_group
                         , names = output_col_names)


availn_cru=pd.read_csv('/group/moniergrp/TEM_Large_Ensemble/run_support_files/cru_regions/region_1/var_out/AVAILN.csv'+grid_group
                       , names = output_col_names)
vegc_cru=pd.read_csv('/group/moniergrp/TEM_Large_Ensemble/run_support_files/cru_regions/region_1/var_out/VEGC.csv'+grid_group  
                     , names = output_col_names)

In [23]:
read_in= pd.DataFrame(os.listdir('/group/moniergrp/TEM_Large_Ensemble/run_support_files/cru_regions/region_1/var_out_prenfix/')
            , columns = ['file'])
loop_1 = read_in.loc[read_in['file'].str.contains('AVAILN')].reset_index()
all_availn = pd.DataFrame()
for i in range(len(loop_1)):
    availn = pd.read_csv('/group/moniergrp/TEM_Large_Ensemble/run_support_files/cru_regions/region_1/var_out_prenfix/'+loop_1.loc[i,'file']
                        ,names = output_col_names)
    availn['file'] = loop_1.loc[i,'file']
    all_availn = pd.concat([all_availn,availn])

In [25]:
all_availn.loc[all_availn['monthly_mean'] < 0 ,'file'].value_counts()

AVAILN.csv585    32724
AVAILN.csv455    11678
AVAILN.csv520     7107
AVAILN.csv390     4032
AVAILN.csv325      876
AVAILN.csv260      239
AVAILN.csv0          2
Name: file, dtype: int64

In [26]:
len(all_availn.loc[all_availn['monthly_mean'] < 0 ])/len(all_availn)

0.006828120169997993

In [12]:
all_availn['monthly_mean'].describe()

count    8.297745e+06
mean    -3.169588e+04
std      1.621548e+06
min     -2.456678e+08
25%      2.058000e+02
50%      4.364900e+02
75%      9.472200e+02
max      1.529505e+05
Name: monthly_mean, dtype: float64

In [15]:
loop_21

   index           file
0     39  AVAILN.csv612
1     52  AVAILN.csv408
2     59  AVAILN.csv204
3     67  AVAILN.csv918
4     77  AVAILN.csv102
5     79  AVAILN.csv306
6     80    AVAILN.csv0
7     85  AVAILN.csv816
8     97  AVAILN.csv714
9     98  AVAILN.csv510

In [19]:
# availn = pd.read_csv('/group/moniergrp/TEM_Large_Ensemble/run_support_files/cru_regions/region_21/var_out/'+loop_21.loc[i,'file']
#                         ,output_col_names)

'/group/moniergrp/TEM_Large_Ensemble/run_support_files/cru_regions/region_21/var_out/'+loop_21.loc[i,'file']

'/group/moniergrp/TEM_Large_Ensemble/run_support_files/cru_regions/region_21/var_out/AVAILN.csv612'

In [20]:
read_in= pd.DataFrame(os.listdir('/group/moniergrp/TEM_Large_Ensemble/run_support_files/cru_regions/region_21/var_out/')
            , columns = ['file'])
loop_21 = read_in.loc[read_in['file'].str.contains('AVAILN')].reset_index()
all_availn = pd.DataFrame()

for i in range(len(loop_21)):
    availn = pd.read_csv('/group/moniergrp/TEM_Large_Ensemble/run_support_files/cru_regions/region_21/var_out/'+loop_21.loc[i,'file']
                        ,names = output_col_names)
    all_availn = pd.concat([all_availn,availn])

In [21]:
all_availn['monthly_mean'].describe()

count    1.892487e+07
mean    -1.661323e+08
std      1.319147e+10
min     -5.520413e+12
25%      0.000000e+00
50%      2.463200e+02
75%      4.604200e+02
max      1.016852e+09
Name: monthly_mean, dtype: float64

In [10]:
availn_canesm5['monthly_mean'].describe()

count    33214.000000
mean      1264.922289
std       1031.620980
min        420.380000
25%        501.340000
50%        580.870000
75%       2127.832500
max       4383.840000
Name: monthly_mean, dtype: float64

In [11]:
availn_cru['monthly_mean'].describe()

count    124252.000000
mean       1475.214739
std        1329.931083
min          60.180000
25%         663.430000
50%        1184.570000
75%        1957.402500
max       87701.170000
Name: monthly_mean, dtype: float64