In [1]:
import os
import matplotlib.pyplot as plt
import re
import numpy as np
from scipy import stats
#import optshrink as opt # package we create
import numpy as np
# import scipy.io as sio
import h5py
import matplotlib.pyplot as plt
import pandas as pd
import xarray as xr
import cartopy.crs as ccrs
import seaborn as sns
from shapely.geometry import Point
import geopandas as gp
from geodatasets import get_path
from shapely.geometry import Polygon

In [2]:
clm_cols = ["lon", 'lat','var' ,'Area', 'year', 'sum', 'max', 'average'
         , 'min', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'
         , 'Nov', 'Dec', 'Area_Name']
atm_cols = ['lon', 'lat', 'year', 'average']
elev_cols = ["lon", 'lat','var' ,'Area', 'elev', 'region']
co2_cols = ['year', 'co2']

In [4]:
all_regions=pd.DataFrame()
ending = '1_29'
for i in range(1,30):
    i=str(i)
    dir_path = '/group/moniergrp/TEM_Large_Ensemble/output_files/CanESM5_whole_time/region_'+i+'_'
    test_region = pd.read_csv(dir_path+"lat_lon_year_standage_var.csv")
    print(i)
    test_region = test_region.loc[~test_region['current_veg'].isin([6,19])] ###dropping woodlands
    test_region = test_region.loc[test_region['monthly_mean'].between(-1e8,1e8)]
    test_region = test_region.loc[test_region['year']>=1900]

    test_region=test_region.pivot(index=['lon','lat','year','stand_age_interval_min','current_veg',
                            'community_type','silt_clay'
                            ], columns='variable', values = 'monthly_mean').reset_index()
    test_region['region']=i
    all_regions = pd.concat([all_regions,test_region])

unique_bins = sorted(all_regions.stand_age_interval_min.unique())
bin_to_ordinal = {bin_val: idx for idx, bin_val in (enumerate(unique_bins))}
print(bin_to_ordinal)
all_regions['ordinal_stand_age'] = all_regions['stand_age_interval_min'].map(bin_to_ordinal)
# test_region['ordinal_stand_age'].describe()

all_regions.loc[all_regions['community_type'].isin([4,5])].to_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/whole_time_ssp245_Boreal_trainingset_r_'+ending+'.csv', index=False)
all_regions.loc[all_regions['community_type'].isin([17,20,16,18])].to_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/whole_time_ssp245_Tropical_trainingset_r_'+ending+'.csv', index=False)
all_regions.loc[all_regions['community_type'].isin([10,11,25])].to_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/whole_time_ssp245_Temperate_Deciduous_trainingset_r_'+ending+'.csv', index=False)
all_regions.loc[all_regions['community_type'].isin([9,8])].to_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/whole_time_ssp245_Temperate_Coniferous_trainingset_r_'+ending+'.csv', index=False)
all_regions.loc[all_regions['community_type'].isin([33])].to_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/whole_timessp245_Temperate_Broadleaf_trainingset_r_'+ending+'.csv', index=False)
# all_regions.loc[all_regions['PFT_group'].isna()]

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
{0: 0, 5: 1, 10: 2, 15: 3, 20: 4, 25: 5, 30: 6, 35: 7, 40: 8, 45: 9, 50: 10, 55: 11, 60: 12, 65: 13, 70: 14, 75: 15, 80: 16, 85: 17, 90: 18, 95: 19, 100: 20, 125: 21, 150: 22}

In [4]:
unique_bins = sorted(all_regions.stand_age_interval_min.unique())
bin_to_ordinal = {bin_val: idx for idx, bin_val in (enumerate(unique_bins))}
print(bin_to_ordinal)
all_regions['ordinal_stand_age'] = all_regions['stand_age_interval_min'].map(bin_to_ordinal)
# test_region['ordinal_stand_age'].describe()

all_regions.loc[all_regions['community_type'].isin([4,5])].to_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/Boreal_trainingset_r_'+ending+'.csv', index=False)
all_regions.loc[all_regions['community_type'].isin([17,20,16,18])].to_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/Tropical_trainingset_r_'+ending+'.csv', index=False)
all_regions.loc[all_regions['community_type'].isin([10,11,25])].to_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/Temperate_Deciduous_trainingset_r_'+ending+'.csv', index=False)
all_regions.loc[all_regions['community_type'].isin([9,8])].to_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/Temperate_Coniferous_trainingset_r_'+ending+'.csv', index=False)
all_regions.loc[all_regions['community_type'].isin([33])].to_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/Temperate_Broadleaf_trainingset_r_'+ending+'.csv', index=False)
all_regions.loc[all_regions['PFT_group'].isna()]

{0: 0, 5: 1, 10: 2, 15: 3, 20: 4, 25: 5, 30: 6, 35: 7, 40: 8, 45: 9, 50: 10, 55: 11, 60: 12, 65: 13, 70: 14, 75: 15, 80: 16, 85: 17, 90: 18, 95: 19, 100: 20, 125: 21, 150: 22}

KeyError: 'PFT_group'

In [ ]:
test_region.loc[test_region['community_type'].isin([4,5]), 'PFT_group'] = 'Boreal'
test_region.loc[test_region['community_type'].isin([17,20,16,18]), 'PFT_group'] = 'Tropical'
test_region.loc[test_region['community_type'].isin([10,11,25]), 'PFT_group'] = 'Temperate Deciduous'
test_region.loc[test_region['community_type'].isin([9,8]), 'PFT_group'] = 'Temperate Coniferous'
test_region.loc[test_region['community_type'].isin([33]), 'PFT_group'] = 'Temperate Broadleaf'
test_region.loc[test_region['PFT_group'].isna()]

In [5]:
test_region.loc[test_region['variable']==' VEGC '].groupby('forest_type')['monthly_mean'].describe()

,count,mean,std,min,25%,50%,75%,max
forest_type,,,,,,,,
Mixed Temperate Forests,193877.0,10004.598568,6511.722483,0.25,5253.4800,9171.480,13835.2800,37407.14
Temperate Broadleaved Evergreen Forests,3146.0,30.694758,68.310391,0.00,3.7300,4.770,10.0025,448.50
Temperate Coniferous Forests,118545.0,5999.794937,6653.119963,0.00,226.1800,3313.780,10217.1100,31369.94
Temperate Deciduous Forests,73588.0,7815.434299,5049.745887,0.00,4013.0175,7075.905,10844.2600,23383.59
Temperate Forested Wetlands,100666.0,9262.358521,6244.293157,0.40,4828.8725,8068.245,12515.7325,38488.60
Tropical Deciduous Forests,63424.0,5660.515080,5512.461969,0.00,772.9025,4058.555,8587.9450,21153.06
Tropical Evergreen Forests,45960.0,11274.645229,6100.364265,0.00,7237.7050,12572.005,15588.0250,22993.78
Xeromorphic Forests and Woodlands,154674.0,2179.161242,121949.005726,0.00,0.0000,0.030,10.5700,10012240.32

In [6]:
test_region.loc[test_region['variable']==' SOILORGC '].groupby('forest_type')['monthly_mean'].describe()

,count,mean,std,min,25%,50%,75%,max
forest_type,,,,,,,,
Mixed Temperate Forests,193877.0,3476.964103,1115.189012,39.86,2705.2000,3538.340,4209.9500,6770.09
Temperate Broadleaved Evergreen Forests,3146.0,127.293045,150.716245,0.00,22.0625,65.135,185.3875,1277.33
Temperate Coniferous Forests,118545.0,2948.912604,2885.885242,0.00,474.6900,1846.110,5046.5700,13088.32
Temperate Deciduous Forests,73588.0,3610.412613,4396.216698,0.00,2658.8225,3297.085,3743.0200,63105.92
Temperate Forested Wetlands,100666.0,3183.859742,664.861159,245.30,2846.5500,3147.810,3533.2675,6570.32
Tropical Deciduous Forests,63424.0,2340.168923,2104.049255,0.00,913.2550,1564.505,2961.9875,17423.99
Tropical Evergreen Forests,45960.0,4690.949161,2279.483079,117.65,3022.0325,4643.510,6523.4575,10827.70
Xeromorphic Forests and Woodlands,154674.0,5582.212646,262201.442879,0.00,0.0000,35.090,546.4325,18019216.18

In [5]:
test_region = test_region.loc[~test_region['current_veg'].isin([6,19])] ###dropping woodlands
test_region = test_region.loc[test_region['monthly_mean'].between(-1e8,1e8)]
test_region.loc[test_region['community_type'].isin([4,5]), 'PFT_group'] = 'Boreal'
test_region.loc[test_region['community_type'].isin([17,20,16,18]), 'PFT_group'] = 'Tropical'
test_region.loc[test_region['community_type'].isin([10,11,25]), 'PFT_group'] = 'Temperate Deciduous'
test_region.loc[test_region['community_type'].isin([9,8]), 'PFT_group'] = 'Temperate Coniferous'
test_region.loc[test_region['community_type'].isin([33]), 'PFT_group'] = 'Temperate Broadleaf'
test_region.loc[test_region['PFT_group'].isna()]

Empty DataFrame
Columns: [lon, lat, year, variable, stand_age_interval_min, forest_type, current_veg, community_type, silt_clay, region, file, land_area, cohort_area, monthly_mean_weight, Jan_weight, Feb_weight, Mar_weight, Apr_weight, May_weight, Jun_weight, Jul_weight, Aug_weight, Sep_weight, Oct_weight, Nov_weight, Dec_weight, monthly_mean, Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec, PFT_group]
Index: []

[0 rows x 40 columns]

In [8]:
test_region.pivot(index=['lon','lat','year','stand_age_interval_min','current_veg',
                        'community_type','silt_clay'
                        ], columns='variable', values = 'monthly_mean').reset_index()

variable,lon,lat,year,stand_age_interval_min,current_veg,community_type,silt_clay,AVAILN,GPP,LAI,NCE,NEP,NETNMIN,NPP,SOILORGC,VEGC,VEGINNPP,VSM
0,-119.5,36.0,1700,150,33,33,62.17,25785.13,0.32,0.01,0.00,0.00,1856.65,0.10,16.65,5.31,0.10,25.73
1,-119.5,36.0,1701,150,33,33,62.17,0.00,0.30,0.01,-0.01,-0.01,331.77,0.09,16.68,5.30,0.09,25.21
2,-119.5,36.0,1702,150,33,33,62.17,0.00,0.37,0.01,0.02,0.02,107.98,0.12,16.73,5.30,0.12,25.90
3,-119.5,36.0,1703,150,33,33,62.17,0.00,0.39,0.01,0.02,0.02,39.87,0.13,16.83,5.42,0.13,25.20
4,-119.5,36.0,1704,150,33,33,62.17,0.00,0.31,0.01,-0.01,-0.01,15.92,0.09,16.91,5.44,0.09,25.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
757843,-90.0,36.0,2021,20,11,11,65.24,561.00,125.97,1.73,11.90,11.90,806.14,58.75,3058.06,6400.34,127.25,29.44
757844,-90.0,36.0,2021,25,11,11,65.24,600.13,133.87,1.81,10.46,10.46,860.04,61.99,3352.00,7810.31,129.06,29.20
757845,-90.0,36.0,2021,30,11,11,65.24,563.32,126.49,1.73,9.33,9.33,815.94,58.84,3203.80,8081.63,126.39,29.44
757846,-90.0,36.0,2021,35,11,11,65.24,571.12,127.91,1.75,8.47,8.47,824.33,59.24,3270.79,8625.34,126.65,29.40
757847,-90.0,36.0,2021,150,11,11,65.24,611.38,137.20,1.87,-9.64,-9.64,902.04,61.91,4952.65,21961.35,128.49,29.18

In [6]:
###all gridded annual input data

grid_monthly = ['/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/tswrf_v11_1700_2021.txt',
'/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/tmp_1700_2021.txt',
'/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/precip_1700_2021.txt',
'/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/dtr_1700_2021.txt',
'/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/vpr_1700_2021.txt',
'/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/wind_1700_2021.txt']

grid_annual = ['/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/Ndep_Trendy.csv',
'/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/Nfer_crop.csv',
'/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/Nfer_pas.csv']

###static gridded data
# grid = [
#     # '/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/cruigbpstxtlf.glb',
# '/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/crutbaselvlf.glb']

grid = '/group/moniergrp/TEM_Large_Ensemble/input_files/cru_regions/region_3/crutbaselvlf.glb'

###co2 data
annual = '/home/smmrrr/TRENDY_Input_Data/atm_chem_data/global_co2_ann_1700_2021.txt'

In [7]:
elev = pd.read_csv(grid, names = elev_cols)
elev

       lon   lat     var  Area    elev     region
0   -119.5  36.0   ELEV   2492   111.6   NAMERICA
1   -119.0  35.5   ELEV   2508   936.2   NAMERICA
2   -119.0  36.0   ELEV   2492  1406.5   NAMERICA
3   -118.5  36.0   ELEV   2492  2400.5   NAMERICA
4   -117.0  34.0   ELEV   2555  1551.6   NAMERICA
..     ...   ...     ...   ...     ...        ...
495  -90.0  34.0   ELEV   2555    99.2   NAMERICA
496  -90.0  34.5   ELEV   2539   108.4   NAMERICA
497  -90.0  35.0   ELEV   2524    96.6   NAMERICA
498  -90.0  35.5   ELEV   2508    81.0   NAMERICA
499  -90.0  36.0   ELEV   2492    76.7   NAMERICA

[500 rows x 6 columns]

In [8]:
co2 = pd.read_csv(annual,sep='\s+', names = co2_cols)
co2

     year     co2
0    1700  276.59
1    1701  276.62
2    1702  276.65
3    1703  276.67
4    1704  276.70
..    ...     ...
318  2018  406.94
319  2019  409.63
320  2020  412.10
321  2021  414.27
322  2022  414.27

[323 rows x 2 columns]

In [26]:
i = 0

In [9]:
for i in range(len(grid_annual)):

    file = grid_annual[i]
    base = file.rsplit('/', 1)[-1].rsplit('.', 1)[0]
    print(base)
    data = pd.read_csv(file, names = atm_cols)
    data=data.rename(columns = {'average':base})
    if i == 0:
        atm_chem = data
    else:
        atm_chem = atm_chem.merge(data, on = ['lon', 'lat', 'year'])

Ndep_Trendy
Nfer_crop
Nfer_pas

In [33]:
atm_chem

          lon   lat  year  Ndep_Trendy  Nfer_crop   Nfer_pas
0      -119.5  36.0  1700      46.1921     0.0000     0.0000
1      -119.5  36.0  1701      46.1921     0.0000     0.0000
2      -119.5  36.0  1702      46.1921     0.0000     0.0000
3      -119.5  36.0  1703      46.1921     0.0000     0.0000
4      -119.5  36.0  1704      46.1921     0.0000     0.0000
...       ...   ...   ...          ...        ...        ...
160995  -90.0  36.0  2017     912.8077  6497.5254  2559.7042
160996  -90.0  36.0  2018     927.6445  6697.3172  2551.5778
160997  -90.0  36.0  2019     868.4983  6654.6630  2549.0803
160998  -90.0  36.0  2020     958.4603  6765.6414  2521.2544
160999  -90.0  36.0  2021     951.6080  6765.6414  2521.2544

[161000 rows x 6 columns]

In [10]:
for i in range(len(grid_monthly)):

    file = grid_monthly[i]
    base = file.rsplit('/', 1)[-1].rsplit('_1700', 1)[0]
    print(base)
    data = pd.read_csv(file, names = clm_cols)[['lon', 'lat', 'year','average']]
    data=data.rename(columns = {'average':base})
    # print(data.dtypes)
    if i == 0:
        climate = data
    else:
        climate = climate.merge(data, on = ['lon', 'lat', 'year'])

tswrf_v11
tmp
precip
dtr
vpr
wind

In [11]:
input_data = climate.merge(atm_chem, on = ['lon','lat','year']).merge(
elev, on = ['lon','lat']
).merge(co2, on = 'year')

In [12]:
test_region.columns

Index(['lon', 'lat', 'year', 'variable', 'stand_age_interval_min',
       'forest_type', 'current_veg', 'community_type', 'silt_clay', 'region',
       'file', 'land_area', 'cohort_area', 'monthly_mean_weight', 'Jan_weight',
       'Feb_weight', 'Mar_weight', 'Apr_weight', 'May_weight', 'Jun_weight',
       'Jul_weight', 'Aug_weight', 'Sep_weight', 'Oct_weight', 'Nov_weight',
       'Dec_weight', 'monthly_mean', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
       'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'PFT_group'],
      dtype='object')

In [13]:
model_data = test_region.loc[(test_region['variable']==' VEGC ') & (test_region['PFT_group'] == 'Temperate Coniferous')
               ,['lon', 'lat', 'year','stand_age_interval_min','silt_clay','monthly_mean']].merge(
 input_data, on = ['lon','lat','year']
)

In [14]:
model_data.columns

Index(['lon', 'lat', 'year', 'stand_age_interval_min', 'silt_clay',
       'monthly_mean', 'tswrf_v11', 'tmp', 'precip', 'dtr', 'vpr', 'wind',
       'Ndep_Trendy', 'Nfer_crop', 'Nfer_pas', 'var', 'Area', 'elev', 'region',
       'co2'],
      dtype='object')

In [16]:
model_data.to_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/region_3_test_model_data_conif_vegc.csv', index=False)

In [3]:
model_data = pd.read_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/region_3_test_model_data_conif_vegc.csv')

In [10]:
unique_bins = model_data.stand_age_interval_min.unique()
bin_to_ordinal = {bin_val: idx for idx, bin_val in enumerate(unique_bins)}
print(bin_to_ordinal)
model_data['ordinal_stand_age'] = model_data['stand_age_interval_min'].map(bin_to_ordinal)
model_data['ordinal_stand_age'].describe()

{150: 0, 0: 1, 5: 2, 10: 3, 15: 4, 20: 5, 25: 6, 30: 7, 35: 8, 40: 9, 45: 10, 50: 11, 55: 12, 60: 13, 65: 14, 70: 15, 75: 16, 80: 17, 85: 18, 90: 19, 95: 20, 100: 21, 125: 22}

count    287630.000000
mean          5.893586
std           5.567873
min           0.000000
25%           1.000000
50%           5.000000
75%           9.000000
max          22.000000
Name: ordinal_stand_age, dtype: float64

In [ ]:
# X = np.array(model_data.loc[model_data['year']>=2021,['tswrf_v11', 'tmp', 'precip', 'dtr', 'vpr', 'wind','stand_age_interval_min']])
X = np.array(model_data.loc[model_data['year']>=2000,['ordinal_stand_age', 'tmp']])
y = np.array(model_data.loc[model_data['year']>=2000,['monthly_mean']])

In [ ]:
from sklearn.gaussian_process import GaussianProcessRegressor
from sklearn.gaussian_process.kernels import DotProduct, WhiteKernel

kernel = DotProduct() + WhiteKernel()

gpr = GaussianProcessRegressor(kernel=None,
      random_state=0).fit(X, y)

gpr.score(X, y)