In [4]:
import xarray as xr
import cftime 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import os
import time
import logging
import cartopy.crs as ccrs
import metpy  
import calendar
import argparse
import glob

In [2]:
run = 'parallel_new_input'
os.chdir('/home/smmrrr/TEM/TEM_Runs/'+run)

print(os.getcwd())

/home/smmrrr/TEM/TEM_Runs/parallel_new_input

In [20]:
output_paths = glob.glob(r'*.csv[0123456789]*')
input_paths = glob.glob('*.HVD*')

print(len(output_paths))
print(len(input_paths))

500
250

In [21]:
print(len(output_paths))
print(len(output_group))

500
500

In [48]:
cohort_output = pd.read_csv(read_in_data.loc[i, 'output_paths']
            , names = output_col_names)# output_paths

In [49]:
cohort_output.loc[0]

lon                                   -108.5
lat                                     48.5
variable                                NEP
cohort_number                              1
stand_age                               3000
potential_veg                             13
current_veg                               13
subtype                                   13
community_type                             8
silt_clay                              56.98
lc_state                                   0
land_area                               2038
cohort_area                             2038
year                                    1750
annual_sum                               0.0
monthly_maximum                         19.4
monthly_mean                             0.0
monthly_minimum                        -16.5
Jan                                    -4.74
Feb                                    -1.64
Mar                                    -3.08
Apr                                     0.56
May                                     0.46
Jun                                    -0.21
Jul                                   -16.49
Aug                                    -5.06
Sep                                     19.4
Oct                                    15.79
Nov                                    -1.44
Dec                                     -3.5
region              United_States_of_America
Name: 0, dtype: object

In [47]:

output_col_names = ['lon'
,'lat'
,'variable'
,'cohort_number'
,'stand_age'
,'potential_veg'
,'current_veg'
,'subtype'
,'community_type'
,'silt_clay'  ###check this order
,'lc_state'
,'land_area'
,'cohort_area'
,'year'
,'annual_sum'
,'monthly_maximum'
,'monthly_mean'
,'monthly_minimum'
,'Jan'
,'Feb'
,'Mar'
,'Apr'
,'May'
,'Jun'
,'Jul'
,'Aug'
,'Sep'
,'Oct'
,'Nov'
,'Dec'
,'region']

input_col_names = ["lon", 'lat','var' ,'Area', 'year', 'sum', 'max', 'average'
         , 'min', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'
         , 'Nov', 'Dec', 'Area_Name']

In [23]:

output_group = [re.findall('[0-9]+$', w) for w in output_paths]
output_group = [item for sublist in output_group for item in sublist]

output_var = [re.findall('AVLN|NCE|NPP|SOLC|VEGC|GPP|NEP|SMOIST|SOLN|VEGN', w) for w in output_paths]
output_var = [item for sublist in output_var for item in sublist]

input_group = [re.findall('[0-9]+$', w) for w in input_paths]
input_group = [item.upper() for sublist in input_group for item in sublist]

input_var = [re.findall('PREC|CLDS|PAR|TAIR|VPR', w) for w in input_paths]
input_var = [item for sublist in input_var for item in sublist]

In [24]:
# input_var

In [15]:
# output_group

In [25]:
#make tables with the relevant read in info

input_data = pd.DataFrame(
{'input_paths': input_paths,
'input_group': input_group,
 'input_var': input_var
}
)

output_data = pd.DataFrame(
{'output_paths': output_paths,
'output_group': output_group,
 'output_var': output_var
}
)

In [26]:
input_data

      input_paths input_group input_var
0     CLDS.HVD544         544      CLDS
1     PAR.HVD2244        2244       PAR
2    TAIR.HVD2720        2720      TAIR
3     PAR.HVD2040        2040       PAR
4     PREC.HVD952         952      PREC
..            ...         ...       ...
245   VPR.HVD1360        1360       VPR
246  CLDS.HVD1700        1700      CLDS
247  TAIR.HVD1292        1292      TAIR
248  TAIR.HVD3196        3196      TAIR
249    PAR.HVD408         408       PAR

[250 rows x 3 columns]

In [57]:
i

1

In [27]:

input_data = pd.pivot(input_data, index = 'input_group', columns = 'input_var', values = 'input_paths').reset_index()

read_in_data = input_data.merge(output_data, left_on = 'input_group', right_on = 'output_group')

In [ ]:
read_in_data.to_csv('/home/smmrrr/TEM_Analysis/test_parallel_run/all_parallel_variable_info.csv')

In [29]:
read_in_data = read_in_data.loc[read_in_data['output_var'] == 'NEP'].reset_index()

In [30]:
read_in_data

,index,input_group,CLDS,PAR,PREC,TAIR,VPR,output_paths,output_group,output_var
0,7,0,CLDS.HVD0,PAR.HVD0,PREC.HVD0,TAIR.HVD0,VPR.HVD0,NEP_LULCC.csv0,0,NEP
1,10,1020,CLDS.HVD1020,PAR.HVD1020,PREC.HVD1020,TAIR.HVD1020,VPR.HVD1020,NEP_LULCC.csv1020,1020,NEP
2,24,1088,CLDS.HVD1088,PAR.HVD1088,PREC.HVD1088,TAIR.HVD1088,VPR.HVD1088,NEP_LULCC.csv1088,1088,NEP
3,34,1156,CLDS.HVD1156,PAR.HVD1156,PREC.HVD1156,TAIR.HVD1156,VPR.HVD1156,NEP_LULCC.csv1156,1156,NEP
4,40,1224,CLDS.HVD1224,PAR.HVD1224,PREC.HVD1224,TAIR.HVD1224,VPR.HVD1224,NEP_LULCC.csv1224,1224,NEP
5,55,1292,CLDS.HVD1292,PAR.HVD1292,PREC.HVD1292,TAIR.HVD1292,VPR.HVD1292,NEP_LULCC.csv1292,1292,NEP
6,66,136,CLDS.HVD136,PAR.HVD136,PREC.HVD136,TAIR.HVD136,VPR.HVD136,NEP_LULCC.csv136,136,NEP
7,74,1360,CLDS.HVD1360,PAR.HVD1360,PREC.HVD1360,TAIR.HVD1360,VPR.HVD1360,NEP_LULCC.csv1360,1360,NEP
8,80,1428,CLDS.HVD1428,PAR.HVD1428,PREC.HVD1428,TAIR.HVD1428,VPR.HVD1428,NEP_LULCC.csv1428,1428,NEP
9,94,1496,CLDS.HVD1496,PAR.HVD1496,PREC.HVD1496,TAIR.HVD1496,VPR.HVD1496,NEP_LULCC.csv1496,1496,NEP
10,105,1564,CLDS.HVD1564,PAR.HVD1564,PREC.HVD1564,TAIR.HVD1564,VPR.HVD1564,NEP_LULCC.csv1564,1564,NEP
11,111,1632,CLDS.HVD1632,PAR.HVD1632,PREC.HVD1632,TAIR.HVD1632,VPR.HVD1632,NEP_LULCC.csv1632,1632,NEP
12,120,1700,CLDS.HVD1700,PAR.HVD1700,PREC.HVD1700,TAIR.HVD1700,VPR.HVD1700,NEP_LULCC.csv1700,1700,NEP
13,134,1768,CLDS.HVD1768,PAR.HVD1768,PREC.HVD1768,TAIR.HVD1768,VPR.HVD1768,NEP_LULCC.csv1768,1768,NEP
14,145,1836,CLDS.HVD1836,PAR.HVD1836,PREC.HVD1836,TAIR.HVD1836,VPR.HVD1836,NEP_LULCC.csv1836,1836,NEP
15,154,1904,CLDS.HVD1904,PAR.HVD1904,PREC.HVD1904,TAIR.HVD1904,VPR.HVD1904,NEP_LULCC.csv1904,1904,NEP
16,161,1972,CLDS.HVD1972,PAR.HVD1972,PREC.HVD1972,TAIR.HVD1972,VPR.HVD1972,NEP_LULCC.csv1972,1972,NEP
17,179,204,CLDS.HVD204,PAR.HVD204,PREC.HVD204,TAIR.HVD204,VPR.HVD204,NEP_LULCC.csv204,204,NEP
18,184,2040,CLDS.HVD2040,PAR.HVD2040,PREC.HVD2040,TAIR.HVD2040,VPR.HVD2040,NEP_LULCC.csv2040,2040,NEP
19,194,2108,CLDS.HVD2108,PAR.HVD2108,PREC.HVD2108,TAIR.HVD2108,VPR.HVD2108,NEP_LULCC.csv2108,2108,NEP
20,200,2176,CLDS.HVD2176,PAR.HVD2176,PREC.HVD2176,TAIR.HVD2176,VPR.HVD2176,NEP_LULCC.csv2176,2176,NEP
21,214,2244,CLDS.HVD2244,PAR.HVD2244,PREC.HVD2244,TAIR.HVD2244,VPR.HVD2244,NEP_LULCC.csv2244,2244,NEP
22,225,2312,CLDS.HVD2312,PAR.HVD2312,PREC.HVD2312,TAIR.HVD2312,VPR.HVD2312,NEP_LULCC.csv2312,2312,NEP
23,238,2380,CLDS.HVD2380,PAR.HVD2380,PREC.HVD2380,TAIR.HVD2380,VPR.HVD2380,NEP_LULCC.csv2380,2380,NEP
24,244,2448,CLDS.HVD2448,PAR.HVD2448,PREC.HVD2448,TAIR.HVD2448,VPR.HVD2448,NEP_LULCC.csv2448,2448,NEP
25,254,2516,CLDS.HVD2516,PAR.HVD2516,PREC.HVD2516,TAIR.HVD2516,VPR.HVD2516,NEP_LULCC.csv2516,2516,NEP
26,261,2584,CLDS.HVD2584,PAR.HVD2584,PREC.HVD2584,TAIR.HVD2584,VPR.HVD2584,NEP_LULCC.csv2584,2584,NEP
27,275,2652,CLDS.HVD2652,PAR.HVD2652,PREC.HVD2652,TAIR.HVD2652,VPR.HVD2652,NEP_LULCC.csv2652,2652,NEP
28,283,272,CLDS.HVD272,PAR.HVD272,PREC.HVD272,TAIR.HVD272,VPR.HVD272,NEP_LULCC.csv272,272,NEP
29,294,2720,CLDS.HVD2720,PAR.HVD2720,PREC.HVD2720,TAIR.HVD2720,VPR.HVD2720,NEP_LULCC.csv2720,2720,NEP
30,308,2788,CLDS.HVD2788,PAR.HVD2788,PREC.HVD2788,TAIR.HVD2788,VPR.HVD2788,NEP_LULCC.csv2788,2788,NEP
31,319,2856,CLDS.HVD2856,PAR.HVD2856,PREC.HVD2856,TAIR.HVD2856,VPR.HVD2856,NEP_LULCC.csv2856,2856,NEP
32,320,2924,CLDS.HVD2924,PAR.HVD2924,PREC.HVD2924,TAIR.HVD2924,VPR.HVD2924,NEP_LULCC.csv2924,2924,NEP
33,335,2992,CLDS.HVD2992,PAR.HVD2992,PREC.HVD2992,TAIR.HVD2992,VPR.HVD2992,NEP_LULCC.csv2992,2992,NEP
34,349,3060,CLDS.HVD3060,PAR.HVD3060,PREC.HVD3060,TAIR.HVD3060,VPR.HVD3060,NEP_LULCC.csv3060,3060,NEP
35,359,3128,CLDS.HVD3128,PAR.HVD3128,PREC.HVD3128,TAIR.HVD3128,VPR.HVD3128,NEP_LULCC.csv3128,3128,NEP
36,365,3196,CLDS.HVD3196,PAR.HVD3196,PREC.HVD3196,TAIR.HVD3196,VPR.HVD3196,NEP_LULCC.csv3196,3196,NEP
37,379,3264,CLDS.HVD3264,PAR.HVD3264,PREC.HVD3264,TAIR.HVD3264,VPR.HVD3264,NEP_LULCC.csv3264,3264,NEP
38,388,3332,CLDS.HVD3332,PAR.HVD3332,PREC.HVD3332,TAIR.HVD3332,VPR.HVD3332,NEP_LULCC.csv3332,3332,NEP
39,394,340,CLDS.HVD340,PAR.HVD340,PREC.HVD340,TAIR.HVD340,VPR.HVD340,NEP_LULCC.csv340,340,NEP
40,409,408,CLDS.HVD408,PAR.HVD408,PREC.HVD408,TAIR.HVD408,VPR.HVD408,NEP_LULCC.csv408,408,NEP
41,416,476,CLDS.HVD476,PAR.HVD476,PREC.HVD476,TAIR.HVD476,VPR.HVD476,NEP_LULCC.csv476,476,NEP
42,425,544,CLDS.HVD544,PAR.HVD544,PREC.HVD544,TAIR.HVD544,VPR.HVD544,NEP_LULCC.csv544,544,NEP
43,439,612,CLDS.HVD612,PAR.HVD612,PREC.HVD612,TAIR.HVD612,VPR.HVD612,NEP_LULCC.csv612,612,NEP
44,443,68,CLDS.HVD68,PAR.HVD68,PREC.HVD68,TAIR.HVD68,VPR.HVD68,NEP_LULCC.csv68,68,NEP
45,453,680,CLDS.HVD680,PAR.HVD680,PREC.HVD680,TAIR.HVD680,VPR.HVD680,NEP_LULCC.csv680,680,NEP
46,464,748,CLDS.HVD748,PAR.HVD748,PREC.HVD748,TAIR.HVD748,VPR.HVD748,NEP_LULCC.csv748,748,NEP
47,473,816,CLDS.HVD816,PAR.HVD816,PREC.HVD816,TAIR.HVD816,VPR.HVD816,NEP_LULCC.csv816,816,NEP
48,489,884,CLDS.HVD884,PAR.HVD884,PREC.HVD884,TAIR.HVD884,VPR.HVD884,NEP_LULCC.csv884,884,NEP
49,498,952,CLDS.HVD952,PAR.HVD952,PREC.HVD952,TAIR.HVD952,VPR.HVD952,NEP_LULCC.csv952,952,NEP

In [32]:
# ## TEM PFT info
# # forest_vegs = [9, 4, 16, 33, 19, 10 ]
# # forest_veg_names = ['needle-leaf evergreen temperate','boreal','broadleaved evergreen tree tropical'
# #                    ,'broadleaved evergreen tree temperate','broadleaved deciduous tree tropical'
# #                    ,'broadleaved deciduous tree temperate']


# ouput_data_path = '/home/smmrrr/TEM_Analysis/usa_runs_processed/'

# # for i in range(len(read_in_data)):
# for i in range(len(read_in_data)):

# ###read in cohort output
#     cohort_output = pd.read_csv(read_in_data.loc[i, 'output_paths']
#                 , names = output_col_names)

#     ##read in precipitation files
#     prec = pd.read_csv(read_in_data.loc[i, 'PREC']
#                , names = input_col_names)
#     par = pd.read_csv(read_in_data.loc[i, 'PAR']
#                , names = input_col_names)
#     clds = pd.read_csv(read_in_data.loc[i, 'CLDS']
#                , names = input_col_names)
#     tair = pd.read_csv(read_in_data.loc[i, 'TAIR']
#                , names = input_col_names)
#     vpr = pd.read_csv(read_in_data.loc[i, 'VPR']
#                , names = input_col_names)


#     ## shape input datasets wide to long
#     prec = pd.melt(prec, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
#     'Jan',
#     'Feb',
#     'Mar',
#     'Apr',
#     'May',
#     'Jun',
#     'Jul',
#     'Aug',
#     'Sep',
#     'Oct',
#     'Nov',
#     'Dec'], 
#              var_name='month', value_name='prec'
#             ,col_level=0)

#     par = pd.melt(par, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
#     'Jan',
#     'Feb',
#     'Mar',
#     'Apr',
#     'May',
#     'Jun',
#     'Jul',
#     'Aug',
#     'Sep',
#     'Oct',
#     'Nov',
#     'Dec'], 
#              var_name='month', value_name='par'
#             ,col_level=0)

#     clds = pd.melt(clds, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
#     'Jan',
#     'Feb',
#     'Mar',
#     'Apr',
#     'May',
#     'Jun',
#     'Jul',
#     'Aug',
#     'Sep',
#     'Oct',
#     'Nov',
#     'Dec'], 
#              var_name='month', value_name='clds'
#             ,col_level=0)

#     tair = pd.melt(tair, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
#     'Jan',
#     'Feb',
#     'Mar',
#     'Apr',
#     'May',
#     'Jun',
#     'Jul',
#     'Aug',
#     'Sep',
#     'Oct',
#     'Nov',
#     'Dec'], 
#              var_name='month', value_name='tair'
#             ,col_level=0)
    
#     vpr = pd.melt(vpr, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
#     'Jan',
#     'Feb',
#     'Mar',
#     'Apr',
#     'May',
#     'Jun',
#     'Jul',
#     'Aug',
#     'Sep',
#     'Oct',
#     'Nov',
#     'Dec'], 
#              var_name='month', value_name='vpr'
#             ,col_level=0)

#     ##merge climate variables together
#     climate_vars = prec.merge(
#                 par,on = ['lon','lat', 'Area', 'year', 'month']
#                 ).merge(
#                 tair ,on = ['lon','lat', 'Area', 'year', 'month']                           
#                 ).merge(
#                 clds ,on = ['lon','lat', 'Area', 'year', 'month']                           
#                 ).merge(
#                 vpr ,on = ['lon','lat', 'Area', 'year', 'month']                           
#                 )

#     ##subset to forest veg types 
#     # cohort_output = cohort_output.loc[cohort_output['current_veg'].isin(forest_vegs)] 
# forest_vegs = [9, 4, 16, 33, 19, 10 ]
#     ##melt cohort output
#     cohort_output = pd.melt(cohort_output, id_vars = ['lon','lat', 'cohort_area', 'land_area', 'year', 'current_veg', 'stand_age'], value_vars = [
#     'Jan',
#     'Feb',
#     'Mar',
#     'Apr',
#     'May',
#     'Jun',
#     'Jul',
#     'Aug',
#     'Sep',
#     'Oct',
#     'Nov',
#     'Dec'], 
#              var_name='month', value_name=read_in_data.loc[i, 'output_var']
#             ,col_level=0)


#     agg_cohort_output = cohort_output.merge(
#                 climate_vars, how = 'left'
#         ,on = ['lon','lat', 'year', 'month']
#                 )


    
#     # agg_cohort_output.to_csv(ouput_data_path+'merged_dataset_'+read_in_data.loc[i, 'output_group']+'.csv', index=False)
#     agg_cohort_output.count()

#     cohort_area = lambda x: np.average(x, weights=agg_cohort_output.loc[x.index, "cohort_area"])  # https://stackoverflow.com/questions/31521027/groupby-weighted-average-and-sum-in-pandas-dataframe
#     land_area = lambda x: np.average(x, weights=agg_cohort_output.loc[x.index, "land_area"])  # https://stackoverflow.com/questions/31521027/groupby-weighted-average-and-sum-in-pandas-dataframe

#     if (i==0):


#         merged_dataset_annual_loop = agg_cohort_output.groupby([
#                 'month','year','current_veg', 'stand_age']).agg(cohort_area=('cohort_area', 'sum'), total_area=('land_area', 'sum'),
#                                                                                       NCE_weighted=('NCE', cohort_area), 
#                                                                                    prec = ('prec', land_area),
#                                                                                    par = ('par', land_area),
#                                                                                    tair = ('tair', land_area),
#                                                                                    clds = ('clds', land_area),
#                                                                                    vpr = ('vpr', land_area))
                                                                                    
#     else:
                                                        
#         merged_dataset_annual_loop = pd.concat([merged_dataset_annual_loop,
#                               agg_cohort_output.groupby([
#                 'month','year','current_veg', 'stand_age']).agg(cohort_area=('cohort_area', 'sum'), total_area=('land_area', 'sum'),
#                                                                                       NCE_weighted=('NCE', cohort_area), 
#                                                                                    prec = ('prec', land_area),
#                                                                                    par = ('par', land_area),
#                                                                                    tair = ('tair', land_area),
#                                                                                    clds = ('clds', land_area),
#                                                                                    vpr = ('vpr', land_area))])
   
#     merged_dataset_annual_loop.to_csv(ouput_data_path+'merged_dataset_annual_loop.csv')
#     print(i)
#     print(merged_dataset_annual_loop.count())

In [35]:
read_in_data.loc[i, 'output_var'] + '_weighted'

'NEP_weighted'

In [64]:
i = 2

read_in_data = pd.read_csv('/home/smmrrr/TEM_Analysis/TEM_Analysis/test_parallel_run/all_parallel_variable_info.csv')
print(read_in_data.loc[i])

input_group                  0
CLDS                 CLDS.HVD0
PAR                   PAR.HVD0
PREC                 PREC.HVD0
TAIR                 TAIR.HVD0
VPR                   VPR.HVD0
output_paths    NCE_LULCC.csv0
output_group                 0
output_var                 NCE
Name: 2, dtype: object

In [66]:

output_col_names = ['lon'
,'lat'
,'variable'
,'cohort_number'
,'stand_age'
,'potential_veg'
,'current_veg'
,'subtype'
,'community_type'
,'silt_clay'  ###check this order
,'lc_state'
,'land_area'
,'cohort_area'
,'year'
,'annual_sum'
,'monthly_maximum'
,'monthly_mean'
,'monthly_minimum'
,'Jan'
,'Feb'
,'Mar'
,'Apr'
,'May'
,'Jun'
,'Jul'
,'Aug'
,'Sep'
,'Oct'
,'Nov'
,'Dec'
,'region']

input_col_names = ["lon", 'lat','var' ,'Area', 'year', 'sum', 'max', 'average'
         , 'min', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct'
         , 'Nov', 'Dec', 'Area_Name']

###read in cohort output
cohort_output = pd.read_csv(read_in_data.loc[i, 'output_paths']
            , names = output_col_names)

##read in precipitation files
prec = pd.read_csv(read_in_data.loc[i, 'PREC']
           , names = input_col_names)
par = pd.read_csv(read_in_data.loc[i, 'PAR']
           , names = input_col_names)
clds = pd.read_csv(read_in_data.loc[i, 'CLDS']
           , names = input_col_names)
tair = pd.read_csv(read_in_data.loc[i, 'TAIR']
           , names = input_col_names)
vpr = pd.read_csv(read_in_data.loc[i, 'VPR']
           , names = input_col_names)

print('data read in')
## shape input datasets wide to long
prec = pd.melt(prec, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='prec'
        ,col_level=0)

par = pd.melt(par, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='par'
        ,col_level=0)

clds = pd.melt(clds, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='clds'
        ,col_level=0)

tair = pd.melt(tair, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='tair'
        ,col_level=0)

vpr = pd.melt(vpr, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='vpr'
        ,col_level=0)

##merge climate variables together
climate_vars = prec.merge(
            par,on = ['lon','lat', 'Area', 'year', 'month']
            ).merge(
            tair ,on = ['lon','lat', 'Area', 'year', 'month']                           
            ).merge(
            clds ,on = ['lon','lat', 'Area', 'year', 'month']                           
            ).merge(
            vpr ,on = ['lon','lat', 'Area', 'year', 'month']                           
            )

##subset to forest veg types 
# cohort_output = cohort_output.loc[cohort_output['current_veg'].isin(forest_vegs)] 
print('clim processed')
##melt cohort output
cohort_output = pd.melt(cohort_output, id_vars = ['lon','lat', 'cohort_area', 'land_area', 'year', 'current_veg', 'stand_age'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='value'
        ,col_level=0)
cohort_output = cohort_output[cohort_output['cohort_area']>0]
print('cohort processed')

agg_cohort_output = cohort_output.merge(
            climate_vars, how = 'left'
    ,on = ['lon','lat', 'year', 'month']
            )

print('climate and cohort merged')
print(agg_cohort_output.count())

cohort_area = lambda x: np.average(x, weights=agg_cohort_output.loc[x.index, "cohort_area"])  # https://stackoverflow.com/questions/31521027/groupby-weighted-average-and-sum-in-pandas-dataframe
land_area = lambda x: np.average(x, weights=agg_cohort_output.loc[x.index, "land_area"])  # https://stackoverflow.com/questions/31521027/groupby-weighted-average-and-sum-in-pandas-dataframe



merged_dataset = agg_cohort_output.groupby([
        'month','year','current_veg', 'stand_age']).agg(cohort_area=('cohort_area', 'sum'), total_area=('land_area', 'sum'),
                                                                              value_weighted=('value', cohort_area), 
                                                                           prec = ('prec', land_area),
                                                                           par = ('par', land_area),
                                                                           tair = ('tair', land_area),
                                                                           clds = ('clds', land_area),
                                                                           vpr = ('vpr', land_area))
merged_dataset.rename(columns={'value_weighted':read_in_data.loc[i, 'output_var'] + '_weighted'}, inplace = True)
print('rename')


# agg_cohort_output.to_csv(ouput_data_path+'merged_dataset_'+read_in_data.loc[i, 'output_group']+'.csv', index=False)
print(merged_dataset.count())




merged_dataset.to_csv(ouput_data_path+read_in_data.loc[i, 'output_var']+'_'+read_in_data.loc[i, 'output_group']+'_'+'processed.csv')

data read in
clim processed
cohort processed
climate and cohort merged
lon            24547008
lat            24547008
cohort_area    24547008
land_area      24547008
year           24547008
current_veg    24547008
stand_age      24547008
month          24547008
value          24547008
Area           24547008
prec           24547008
par            24547008
tair           24547008
clds           24547008
vpr            24547008
dtype: int64
rename
cohort_area     1332576
total_area      1332576
NCE_weighted    1332576
prec            1332576
par             1332576
tair            1332576
clds            1332576
vpr             1332576
dtype: int64

TypeError: can only concatenate str (not "numpy.int64") to str

In [70]:
merged_dataset.reset_index().loc[0]

month                  Apr
year                  1750
current_veg              8
stand_age              425
cohort_area             32
total_area           30456
NCE_weighted     19.866563
prec             92.410796
par             122.751681
tair              8.392067
clds             32.523273
vpr               7.910908
Name: 0, dtype: object

In [75]:
merged_dataset= merged_dataset.reset_index()

In [76]:
forest_vegs = [4, 5, 6, 8, 9, 10, 11, 16, 17, 18, 19, 20, 25, 33]
merged_dataset.loc[merged_dataset['current_veg'].isin(forest_vegs)]

,month,year,current_veg,stand_age,cohort_area,total_area,NCE_weighted,prec,par,tair,clds,vpr
0,Apr,1750,8,425,32,30456,19.866563,92.410796,122.751681,8.392067,32.523273,7.910908
1,Apr,1750,8,3000,21544,43702,10.452611,125.611144,117.464976,7.698563,38.880065,7.826283
2,Apr,1750,9,425,69,27868,29.883043,107.703179,117.452551,5.576679,40.882790,6.824566
3,Apr,1750,9,3000,96495,96942,19.157999,225.426687,110.089753,5.252081,47.635679,7.083233
4,Apr,1750,10,3000,4487,4539,-19.255837,97.577330,111.223640,5.642256,47.321062,6.695924
...,...,...,...,...,...,...,...,...,...,...,...,...
1332042,Sep,2014,33,100,18,2359,-10.580000,58.100000,114.000000,20.900000,13.500000,11.600000
1332043,Sep,2014,33,101,18,4718,-10.580000,58.100000,114.000000,20.900000,13.500000,11.600000
1332044,Sep,2014,33,102,17,2359,-10.570000,58.100000,114.000000,20.900000,13.500000,11.600000
1332045,Sep,2014,33,103,3,2359,-10.570000,58.100000,114.000000,20.900000,13.500000,11.600000
1332046,Sep,2014,33,3000,25,2359,-10.570000,58.100000,114.000000,20.900000,13.500000,11.600000

In [77]:
#     # cohort_output = cohort_output.loc[cohort_output['current_veg'].isin(forest_vegs)] 
merged_dataset= merged_dataset.reset_index()
merged_dataset.to_csv(ouput_data_path+read_in_data.loc[i, 'output_var']+'_'+str(read_in_data.loc[i, 'output_group'])+'_'+'processed.csv')
forest_vegs = [4, 5, 6, 8, 9, 10, 11, 16, 17, 18, 19, 20, 25, 33]
forests = merged_dataset.loc[merged_dataset['current_veg'].isin(forest_vegs)]
print(forests.count())
forests.to_csv(ouput_data_path+'forests_'+read_in_data.loc[i, 'output_var']+'_'+str(read_in_data.loc[i, 'output_group'])+'_'+'processed.csv')

index           487776
month           487776
year            487776
current_veg     487776
stand_age       487776
cohort_area     487776
total_area      487776
NCE_weighted    487776
prec            487776
par             487776
tair            487776
clds            487776
vpr             487776
dtype: int64

In [65]:
cohort_output = cohort_output[cohort_output['cohort_area']>0]

,lon,lat,cohort_area,land_area,year,current_veg,stand_age,month,value
20366,-124.5,40.0,0,1846,1840,51,0,Jan,0.01
20389,-124.5,40.0,0,1846,1841,51,1,Jan,0.02
20412,-124.5,40.0,0,1846,1842,51,2,Jan,0.08
20435,-124.5,40.0,0,1846,1843,51,3,Jan,0.13
20459,-124.5,40.0,0,1846,1844,51,4,Jan,0.18
...,...,...,...,...,...,...,...,...,...
24271345,-123.0,38.5,0,2410,2010,8,3000,Dec,50.20
24271860,-123.0,38.5,0,2410,2011,8,3000,Dec,51.17
24272377,-123.0,38.5,0,2410,2012,8,3000,Dec,52.14
24272898,-123.0,38.5,0,2410,2013,8,3000,Dec,51.42
24273422,-123.0,38.5,0,2410,2014,8,3000,Dec,52.74

In [58]:
cohort_output = pd.read_csv(read_in_data.loc[i, 'output_paths']
            , names = output_col_names)

##read in precipitation files
prec = pd.read_csv(read_in_data.loc[i, 'PREC']
           , names = input_col_names)
par = pd.read_csv(read_in_data.loc[i, 'PAR']
           , names = input_col_names)
clds = pd.read_csv(read_in_data.loc[i, 'CLDS']
           , names = input_col_names)
tair = pd.read_csv(read_in_data.loc[i, 'TAIR']
           , names = input_col_names)
vpr = pd.read_csv(read_in_data.loc[i, 'VPR']
           , names = input_col_names)

print('data read in')
## shape input datasets wide to long
prec = pd.melt(prec, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='prec'
        ,col_level=0)

par = pd.melt(par, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='par'
        ,col_level=0)

clds = pd.melt(clds, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='clds'
        ,col_level=0)

tair = pd.melt(tair, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='tair'
        ,col_level=0)

vpr = pd.melt(vpr, id_vars = ['lon','lat', 'Area', 'year'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='vpr'
        ,col_level=0)

##merge climate variables together
climate_vars = prec.merge(
            par,on = ['lon','lat', 'Area', 'year', 'month']
            ).merge(
            tair ,on = ['lon','lat', 'Area', 'year', 'month']                           
            ).merge(
            clds ,on = ['lon','lat', 'Area', 'year', 'month']                           
            ).merge(
            vpr ,on = ['lon','lat', 'Area', 'year', 'month']                           
            )

##subset to forest veg types 
# cohort_output = cohort_output.loc[cohort_output['current_veg'].isin(forest_vegs)] 
print('clim processed')
##melt cohort output
cohort_output = pd.melt(cohort_output, id_vars = ['lon','lat', 'cohort_area', 'land_area', 'year','variable', 'current_veg', 'stand_age'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='value'
        ,col_level=0)

print('cohort processed')

agg_cohort_output = cohort_output.merge(
            climate_vars, how = 'left'
    ,on = ['lon','lat', 'year', 'month']
            )

print('climate and cohort merged')
print(agg_cohort_output.count())

cohort_area = lambda x: np.average(x, weights=agg_cohort_output.loc[x.index, "cohort_area"])  # https://stackoverflow.com/questions/31521027/groupby-weighted-average-and-sum-in-pandas-dataframe
land_area = lambda x: np.average(x, weights=agg_cohort_output.loc[x.index, "land_area"])  # https://stackoverflow.com/questions/31521027/groupby-weighted-average-and-sum-in-pandas-dataframe



merged_dataset = agg_cohort_output.groupby([
        'month','year','current_veg', 'stand_age', 'variable']).agg(cohort_area=('cohort_area', 'sum'), total_area=('land_area', 'sum'),
                                                                              value_weighted=('value', cohort_area), 
                                                                           prec = ('prec', land_area),
                                                                           par = ('par', land_area),
                                                                           tair = ('tair', land_area),
                                                                           clds = ('clds', land_area),
                                                                           vpr = ('vpr', land_area))
merged_dataset.rename(columns={'value_weighted':read_in_data.loc[i, 'output_var'] + '_weighted'}, inplace = True)
print('rename')


# agg_cohort_output.to_csv(ouput_data_path+'merged_dataset_'+read_in_data.loc[i, 'output_group']+'.csv', index=False)
print(merged_dataset.count())




merged_dataset.to_csv(ouput_data_path+read_in_data.loc[i, 'output_var']+'_'+read_in_data.loc[i, 'output_group']+'_'+'processed.csv')

data read in
clim processed
cohort processed
climate and cohort merged
lon            30499572
lat            30499572
cohort_area    30499572
land_area      30499572
year           30499572
variable       30499572
current_veg    30499572
stand_age      30499572
month          30499572
value          30499572
Area           30499572
prec           30499572
par            30499572
tair           30499572
clds           30499572
vpr            30499572
dtype: int64
rename
cohort_area     1006644
total_area      1006644
NEP_weighted    1006644
prec            1006644
par             1006644
tair            1006644
clds            1006644
vpr             1006644
dtype: int64

In [52]:
cohort_output = pd.melt(cohort_output, id_vars = ['lon','lat' ,'variable','cohort_area', 'land_area', 'year', 'current_veg', 'stand_age'], value_vars = [
'Jan',
'Feb',
'Mar',
'Apr',
'May',
'Jun',
'Jul',
'Aug',
'Sep',
'Oct',
'Nov',
'Dec'], 
         var_name='month', value_name='value'
        ,col_level=0)


agg_cohort_output = cohort_output.merge(
            climate_vars, how = 'left'
    ,on = ['lon','lat', 'year', 'month']
            )

In [53]:

# agg_cohort_output.to_csv(ouput_data_path+'merged_dataset_'+read_in_data.loc[i, 'output_group']+'.csv', index=False)
agg_cohort_output.count()

cohort_area = lambda x: np.average(x, weights=agg_cohort_output.loc[x.index, "cohort_area"])  # https://stackoverflow.com/questions/31521027/groupby-weighted-average-and-sum-in-pandas-dataframe
land_area = lambda x: np.average(x, weights=agg_cohort_output.loc[x.index, "land_area"])  # https://stackoverflow.com/questions/31521027/groupby-weighted-average-and-sum-in-pandas-dataframe

# if (i==0):
merged_dataset = agg_cohort_output.groupby([
        'month','year','current_veg', 'stand_age', 'variable']).agg(cohort_area=('cohort_area', 'sum'), total_area=('land_area', 'sum'),
                                                                              value_weighted=('value', cohort_area), 
                                                                           prec = ('prec', land_area),
                                                                           par = ('par', land_area),
                                                                           tair = ('tair', land_area),
                                                                           clds = ('clds', land_area),
                                                                           vpr = ('vpr', land_area))
merged_dataset.rename(columns={'value_weighted':read_in_data.loc[i, 'output_var'] + '_weighted'}, inplace = True)
print('rename')

rename

In [55]:
merged_dataset.reset_index().loc[0]

month                Apr
year                1750
current_veg            2
stand_age           3000
cohort_area         4863
total_area          4888
NEP_weighted   -0.150056
prec               21.75
par               131.35
tair               -2.95
clds                21.4
vpr                 0.55
Name: 0, dtype: object

In [56]:
len(merged_dataset)

1006644

In [40]:
climate_vars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216240 entries, 0 to 216239
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   lon     216240 non-null  float64
 1   lat     216240 non-null  float64
 2   Area    216240 non-null  int64
 3   year    216240 non-null  int64
 4   month   216240 non-null  object
 5   prec    216240 non-null  float64
 6   par     216240 non-null  float64
 7   tair    216240 non-null  float64
 8   clds    216240 non-null  float64
 9   vpr     216240 non-null  float64
dtypes: float64(7), int64(2), object(1)
memory usage: 18.1+ MB